<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicallsystem.acs.mapper.AcsUserInfoMapper">

    <insert id="addUserInfo" parameterType="com.aicallsystem.acs.entity.AcsUserInfo">
        insert into acs_user_info(user_uuid,name,sex,phone,other_phone,company)
        values (#{userUuid},#{name},#{sex},#{phone},#{otherPhone},#{company})
    </insert>

</mapper>
